/* list */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 735px;
    margin-top: 20px;
    padding: 10px 10px 20px 10px;
    border-radius: 12px;
    box-shadow: 0px 5px 20px #F1F3F5;
    background: #FBFCFD;
}

.action {
    display: flex;
    justify-content: end;
    gap: 4px;
}

.btn_create {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 90px;
    height: 35px;
    border-radius: 6px;
    background: #EDF6FF;
    color: #0091FF;
}

.btn_action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 90px;
    height: 35px;
    border-radius: 6px;
}

.btn_delete {
    background: #FFEFEF;
    color: #E5484D;
}

.btn_delete_active {
    background-color: rgb(241, 243, 245);
    color: rgba(193, 200, 205, 0.8);
}

.hr_action {
    width: 1150px;
    height: 1px;
    background: #DFE3E6;
    margin: 10px auto;

}

/* craete */
.ant-tabs-tab {
    min-width: 180px;
    min-height: 42px;
    padding: 0 !important;
    border-radius: 6px !important;
    justify-content: center;
    background: rgb(237, 246, 255) !important;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active {
    background: rgb(0, 145, 255) !important;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active>.ant-tabs-tab-btn>.active {
    color: rgb(237, 246, 255) !important;
}

/*  */
.ant-select-selector {
    background: #F1F3F5 !important;
}

.ant-form-item-row {
    display: flex !important;
    align-items: center !important;
}

.ant-form-item-label {
    width: 180px;
    text-align: start !important;
}

.ant-form-item-control-input {
    width: 316px;
}

.ant-select-selector {
    display: flex;
    align-items: center;
    min-height: 46px;
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    content: "";
}

:where(.css-dev-only-do-not-override-yp8pcc).ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.ant-input {
    background: #F1F3F5
}